:root {
  /* --main-color: #fa9b0d; */
  --main-color: #517fff;
  --main-color-20: #517fff25;

  --text-color: #333;
  --border-color: #cccccc;
  --placeholder-color: #cacaca;

  --main-background-color: #f7f7f7;
}

body {
  color: var(--text-color);
  font-family: Arial, sans-serif;
}

button {
  width: 100%;
  min-height: 40px;
  height: 40px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 15px;
  user-select: none; /* unselectable */
  background-color: var(--main-color);
}

button:disabled {
  background-color: #ababab;
}

button:hover:enabled {
  filter: brightness(0.8);
}

.button {
  font-size: 15px;
  width: auto;
  line-height: 1;
  box-sizing: border-box;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  align-content: center;
  user-select: none; /* unselectable */
  background-color: #ababab;
}

.button.selected {
  background-color: var(--main-color);
  color: #fff;
}

.button:hover {
  filter: brightness(0.6);
  cursor: pointer;
}

.close-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.card {
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #fff;
  /* background-color: #0000000a; */
  box-shadow: 0 0 5px #00000013;
}

.card:hover {
  /* opacity: 0.5; */
  cursor: pointer;
  background-color: #cfcfcf;
}

label {
  display: block;
  margin-bottom: 3px;
  color: #7e7e7e;
  font-size: 14px;
}

input {
  box-sizing: border-box;
  width: 100%;
  min-height: 40px;
  padding-left: 12px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-size: 15px;
  color: var(--text-color);
}

input::placeholder {
  color: var(--placeholder-color);
}

input:hover {
  outline: none;
  border-color: var(--main-color);
}

input:focus {
  outline: none;
  border-color: var(--main-color);
  box-shadow: 0 0 2px var(--main-color);
}
.input-error-message {
  margin: 0;
  padding: 0;
  margin-top: 5px;
  color: #ff4c4c;
  font-size: 14px;
  max-lines: 2;
  white-space: pre-line; /* breaks into lines */
  text-align: start;
  line-height: 1;
}

.material-symbols-outlined {
  font-variation-settings: 'wght' 300;
}

.ant-select-open {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 2px var(--main-color);
}

/* BACKGROUND IMAGE AND HOW TO GIVE PADDING */
/* 
.carriers .button {
  background-size: contain; Add this line
  background-repeat: no-repeat; Add this line
  background-position: center; Add this line
  padding: 15px;
  background-origin: content-box; this applies padding to background image
} */
